/* Coffee origins */
.coffee-origins {
    background: var(--background);
    height: 100%;
    padding: 96px 0;
}

.coffee-origins .wrapper {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
}

.coffee-origins__maps {
    width: 1050px;
    height: 534px;
    position: relative;
    margin: 0 auto;
}

.coffee-origins__title {
    max-width: 720px;
    width: 100%;
}

.coffee-origins__location {
    width: 135px;
    height: auto;
    background: var(--white-color);
    border-radius: 3px;
    border: 1px solid var(--black-color);
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s;
}

.coffee-origins__location::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--white-color);
    border: 1px solid var(--black-color);
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    bottom: -6px;
    left: 50%;
}

.coffee-origins__location-title {
    text-align: center;
    font-size: var(--font-size-20);
    font-weight: 700;
    text-transform: uppercase;
}

.coffee-origins__location-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.coffee-origins__location-list li {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: var(--font-size-14);
    line-height: 110%;
}

.coffee-origins__location-list img {
    width: 14px;
    height: 14px;
}

.coffee-origins__location-text {
    text-align: center;
    font-size: var(--font-size-14);
    line-height: 110%;
    padding: 0 6px;
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.4s;
}

.coffee-origins__location-text:hover {
    color: var(--button-bg);
    transition: all 0.4s;
}

.coffee-origins__location1 {
    bottom: 180px;
    left: 285px;
    z-index: -1;
}

.coffee-origins__location2 {
    bottom: 275px;
    right: 265px;
    z-index: -1;
}

.coffee-origins__location3 {
    bottom: 185px;
    left: 200px;
    z-index: -1;
}

.coffee-origins__location.hovered {
    opacity: 1;
    z-index: 3;
}

/* Personal account */
.personal-account {
    background: var(--white-color);
    height: 100%;
    padding: 96px 0;
}

.personal-account .wrapper {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    min-height: 600px;
}

.personal-account__img {
    width: 683px;
    height: 523px;
    min-width: 683px;
    position: absolute;
    left: 487px;
    bottom: 0px;
}

.personal-account__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.personal-account__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 570px;
    width: 100%;
}

.personal-account__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.personal-account__content .button-style {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none;
    padding: 11.5px 28px;
}

/* Our warehouses */
.our-warehouses {
    background: var(--background);
}

.our-warehouses .wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding-right: 215px;
}

.our-warehouses__img {
    width: 785px;
    min-width: 785px;
    height: 850px;
    position: relative;
}

.our-warehouses__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.our-warehouses__content {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.our-warehouses__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.our-warehouses__icon {
    position: absolute;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.our-warehouses__icon1 {
    top: 250px;
    left: 145px;
}

.our-warehouses__icon2 {
    top: 385px;
    left: 375px;
}

.our-warehouses__icon3 {
    top: 380px;
    left: 490px;
}

.our-warehouses__icon.shown {
    opacity: 1;
}

.our-warehouses__content .button-style {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 9px 30px;
    text-decoration: none;
}

/* Our certificates */
.our-certificates {
    padding: 96px 0;
    background: var(--background);
}

.our-certificates .wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.our-certificates__box {
    display: flex;
    gap: 20px;
}

.our-certificates__img {
    padding: 27px 39px;
    border-radius: 3px;
    background: #f6f6f6;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.22);
}

.our-certificates__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.our-certificates__img1 {
    border-radius: 3px;
    background: var(--button-bg);
    box-shadow: 1px 1px 5px 0px var(--button-bg);
}

/* News */
.news {
    padding: 96px 0;
    background: #edeee8;
}

.news .wrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
}

.news__box {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.news__article {
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.news__article-img {
    width: 370px;
    height: 250px;
    border-radius: 3px;
    overflow: hidden;
}

.news__article-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.news__article .news__article-content a{
    font-size: var(--font-size-30);
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black-color);
}

.news__article-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news__article-time {
    font-size: var(--font-size-15);
}

@media (max-width: 1500px) {
    .our-warehouses .wrapper {
        padding-right: 32px;
    }
}

@media (max-width: 1200px) {
    .coffee-origins {
        padding: 64px 0;
        width: 100%;
        overflow: hidden;
    }

    .coffee-origins__title {
        padding: 0 16px;
    }

    .map-container {
        width: 1050px;
        overflow: visible;
        padding-bottom: 20px;
    }

    .coffee-origins__maps {
        height: 560px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 100vw;
    }

    .coffee-origins__location2 {
        left: 653px;
        right: auto;
    }

    .coffee-origins__title {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .coffee-origins .wrapper {
        gap: 32px;
    }

    .personal-account {
        padding: 64px 16px;
    }

    .personal-account .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .personal-account__img {
        position: static;
    }

    .our-warehouses__img {
        width: 50%;
        min-width: 50%;
        height: auto;
        background: url(../images/maps-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .our-warehouses {
        padding: 0 16px 0 0;
    }

    .our-warehouses__content {
        padding: 64px 0;
        gap: 32px;
    }

    .our-warehouses__img img {
        display: none;
    }

    .our-certificates {
        padding: 64px 16px;
    }

    .our-certificates .wrapper {
        gap: 32px;
    }

    .our-certificates__box {
        flex-wrap: wrap;
    }

    .our-certificates__img {
        flex: 1;
        min-width: 226px;
        height: 185px;
    }

    .news {
        padding: 64px 16px;
    }

    .news .wrapper {
        gap: 32px;
    }

    .news__box {
        gap: 32px;
    }

    .news__article {
        width: calc(50% - 16px);
    }

    .news__article-img {
        width: 100%;
    }

    .coffee-origins__location3 {
        bottom: 200px;
    }

    .coffee-origins__location1 {
        bottom: 203px;
    }
    .coffee-origins__location2 {
        bottom: 300px;
    }
}

@media (max-width: 768px) {
    .personal-account__img {
        min-width: 100%;
        width: 100%;
        height: auto;
    }

    .personal-account__content {
        max-width: 100%;
    }

    .personal-account__content {
        gap: 16px;
    }

    .our-warehouses__img {
        opacity: 0.3;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .our-warehouses__content {
        position: relative;
        z-index: 2;
        padding: 0;
        width: 100%;
    }

    .our-warehouses {
        padding: 64px 16px;
        position: relative;
    }

    .our-warehouses .wrapper {
        padding: 0;
    }

    .news__article {
        width: 100%;
    }
}