/* Offer lists */
.offer-lists {
    padding: 192px 0 96px 0;
}

.offer-lists .wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.offer-lists__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.offer-lists__header-box {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.offer-lists__header-box button,
.offer-lists__header-box a {
    display: flex;
    height: 50px;
    padding: 7px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid var(--black-color);
    background: transparent;
    transition: all 0.4s;
    text-decoration: none;
}

.offer-lists__header-box button:hover {
    transition: all 0.4s;
    background: var(--button-bg);
    color: var(--white-color);
    border: 1px solid transparent;
}

.offer-lists__header-box button:hover img {
    filter: brightness(0) saturate(100%) invert(88%) sepia(99%) saturate(9%) hue-rotate(181deg) brightness(104%) contrast(100%);
}

.offer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--black-color);
}

.offer-header {
    display: flex;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
    background: #D1D4CC;
    height: 80px;
    padding: 0 10px;
    gap: 15px;
}

.offer-header__arrow {
    display: flex;
}

.offer-header__title {
    font-size: var(--font-size-16);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 2px;
}

.offer-main {
    display: flex;
    align-items: flex-start;
    padding: 0 0 0 10px;
    gap: 15px;
    transition: all 0.4s;
}

.offer-main__text {
    font-size: var(--font-size-14);
    padding: 20px 0;
}

.offer-header__box1 {
    width: 83px;
    cursor: pointer;
}

.offer-header__box2 {
    width: 104px;
}

.offer-header__box3 {
    width: 101px;
}

.offer-header__box4 {
    width: 89px;
    cursor: pointer;
}

.offer-header__box5 {
    width: 72px;
    cursor: pointer;
}

.offer-header__box6 {
    width: 125px;
}

.offer-header__box7 {
    width: 53px;
    cursor: pointer;
}

.offer-header__box8 {
    width: 100px;
    cursor: pointer;
}

.offer-main .actions {
    width: 165px;
    margin-left: auto;
}



.offer-lists__main {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    overflow: hidden;
}

.offer-main .actions .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 48px 11px 47px;
    border-bottom: 1px solid var(--black-color);
}

.offer-main .actions .quantity-control input {
    width: 35px;
    text-align: center;
    background: transparent;
    border: none;
    font-size: var(--font-size-16);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.offer-main .actions .quantity-control button {
    padding: 0;
    background: transparent;
    border: none;
}

.actions .button-add {
    display: flex;
    width: 100%;
    padding: 12px 22px 11px 21px;
    justify-content: center;
    align-items: flex-start;
    gap: 5px; 
    font-size: var(--font-size-15);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--black-color);
    transition: all 0.4s;
}

.actions .button-add:hover {
    background: var(--button-bg);
    color: var(--white-color);
}


.actions .button-add:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7464%) hue-rotate(125deg) brightness(109%) contrast(110%);
}

.actions .button-add img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(36%) saturate(27%) hue-rotate(34deg) brightness(86%) contrast(105%);
}

.button-request {
    display: flex;
    padding: 12px 8px 11px 8px;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    width: 100%;
    font-size: var(--font-size-15);
    background: transparent;
    border: none;
    transition: all 0.4s;
}

.button-request:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.more-detail {
    font-size: var(--font-size-16);
    display: flex;
    width: max-content;
    align-items: flex-start;
    gap: 3px;
    cursor: pointer;
    transition: all 0.4s;
}

.more-detail img {
    margin-top: 2px;
}

.more-detail:hover {
    color: var(--button-bg);
}

.more-detail:hover img {
    filter: brightness(0) saturate(100%) invert(44%) sepia(8%) saturate(1580%) hue-rotate(38deg) brightness(89%) contrast(88%);
}

.product-details {
    display: flex;
    gap: 20px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s;
}

.product-details.expanded {
    max-height: 500px;
    padding: 10px 0  20px 0;
}

.product-details .details-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-row__title {
    font-size: var(--font-size-14);
    font-weight: 700;
    text-transform: uppercase;
}

.details-row__text {
    font-size: var(--font-size-14); 
}

.comunity-page {
    display: flex;
    width: 184px;
    min-width: 184px;
    padding: 11px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--black-color);
    font-size: var(--font-size-15);
    color: var(--black-color);
    text-decoration: none;
    margin-left: 116px;
    transition: all 0.4s;
}

.comunity-page:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.comunity-page:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7464%) hue-rotate(125deg) brightness(109%) contrast(110%);
}

.comunity-page img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--black-color);
}

/* Popup Filter */
.filterPopup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.filterPopup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    padding: 35px 30px;
    max-width: 930px;
    height: 100%;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
}

.close-filterPopup {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    padding: 0;
}

.filterPopup-overflow {
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.filterPopup-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 22%;
}

.no-scroll {
    overflow: hidden;
}

.filterPopup-title {
    font-size: var(--font-size-18);
    font-weight: 700;
}

.filterPopup-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filterPopup-list li {
    width: 100%;
    font-size: var(--font-size-14);
}

.filterPopup-list1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterPopup-list1 li {
    width: 40%;
}

.filterPopup-col-btn {
    padding-top: 40px;
    gap: 15px;
}

.filterPopup-col-btn button {
    display: flex;
    width: 150px;
    height: 43px;
    padding: 11px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.4s;
}

.filterPopup-reset {
    background: var(--white-color);
    border: 1px solid var(--black-color);
    font-size: var(--font-size-15);
}

.filterPopup-reset:hover {
    background: var(--black-color); 
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.filterPopup-apply {
    background: var(--button-bg);
    color: var(--white-color);
    border: 1px solid transparent;
    font-size: var(--font-size-15);
}

.filterPopup-apply:hover {
    background: var(--white-color);
    border: 1px solid var(--button-bg);
    color: var(--button-bg);
}

.toggle-switch {
    display: none;
}

@media (max-width: 1200px) {
    .filterPopup-col {
        width: calc(50% - 16px);
    }

    .offer-lists__main-scroll {
        width: auto;
        overflow: auto;
    }

    .offer-lists {
        padding: 100px 16px 64px 16px;
    }

    .offer-lists__main {
        width: auto;
        overflow: auto;
    }

    .offer-lists .wrapper {
        width: 100%;
        overflow: hidden;
    }

    .offer-lists__main {
        width: 1170px;
        overflow: auto;
    }


}

@media (max-width: 768px) {
    .filterPopup-col {
        width: 100%;
    }

    .offer-lists__main {
        width: auto;
    }

    .offer-lists__header-box {
        gap: 16px;
    }

    .filterPopup-content {
        padding: 32px 16px;
    }

    .offer {
        width: auto;
        min-width: 400px;
    }

    .offer.active {
        width: 998px;
    }

    .toggle-switch {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 188px;
        height: 41px;
    }
    
    .toggle-switch label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px 11px;
    }
    
    .toggle-switch input {
        display: none;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #616E46;
        border-radius: 30px;
        transition: 0.4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 33px;
        width: 33px;
        left: 8px;
        bottom: 4px;
        background-color: #D1D4CC;
        border-radius: 50%;
        transition: 0.4s;
    }
    
    input:checked + .slider {
        background-color: #D1D4CC;
    }
    
    input:checked + .slider:before {
        transform: translateX(140px);
        background: #616E46;
    }

    .toggle-label.active {
        margin-left: auto;
        color: #fff;
        margin-right: 10px;
    }
    
    .offer-main .actions {
        margin-left: 0;
    }

    .toggle-label {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        z-index: 4;
        margin-right: auto;
        margin-left: 10px;
        color: #000;
    }

    .offer-lists__header {
        gap: 20px;
        justify-content: center;
    }

    .offer-lists__header-box {
        width: 100%;
        justify-content: space-between;
    }

    .offer-lists__header-box button, .offer-lists__header-box a {
        font-size: 15px;
    }

    .offer-header__title {
        font-size: 11px;
    }

    .offer-main__text {
        font-size: 10px;
    }

    .offer-header__box1 {
        width: 18%;
    }

    .offer-header__box2 {
        width: 16%;
    }

    .offer-header__box3 {
        width: 19%;
    }

    .offer-header__box7 {
        width: 13%;

    }

    .offer-main .actions {
        width: 34%;
    }
    

    .offer-main .actions .quantity-control {
        padding: 13px 36px 12px 36px;
        gap: 10px;
    }

    .offer-header__box6 {
        width: 80px;
    }

    .offer-header  .offer-header__box6  {
        white-space: nowrap;
    }
    
    .offer-header__box10 {
        width: 34%;
    }

    .offer-header__box9 {
        width: 68px;
        min-width: 68px;
    }
    /* .offer-header {
        justify-content: space-between;
        padding-right: 37% !important;
    } */

    .offer-main .actions .quantity-control input {
        width: 12px;
        font-size: 9px;
    }

    .actions .button-add img {
        width: 10.449px;
        height: 10px;
    }

    .offer-header {
        gap: 12px;
        height: 49px;
    }

    .offer-lists__header {
        padding: 0 16px;
    }

    .offer-lists {
        padding: 100px 0 64px 0;
    }

    .offer-main {
        gap: 12px;
    }

    .offer-header {
        padding: 0 20px;
    }

    .offer-main {
        padding:  0 0 0 20px;
    }

    .offer-main__text {
        padding: 10px 0;
    }

    .actions .button-add {
        font-size: 9px;
        white-space: nowrap;
    }

    .button-request {
        font-size: 9px;
    }

    .offer-header__box4 {
        width: 64px;
        min-width: 64px;
    }

    .offer-header__box5 {
        width: 52px;
        min-width: 52px;
    }

    .more-detail {
        font-size: 10px;
    }

    .more-detail img {
        width: 10px;
        height: 10px;
        margin-top: 0;
    }

    .product-details {
        gap: 12px;
    }

    .product-details.expanded {
        padding: 10px;
    }

    .details-row__title {
        font-size: 11px;
    }

    .details-row__text {
        font-size: 10px;
    }

    .comunity-page {
        width: max-content;
        font-size: 10px;
        min-width: auto;
        white-space: nowrap;
        gap: 10px;
    }

    .offer-lists__header {
        flex-direction: column;
    }

    .offer.active .offer-header__box1{
        width: 83px;
    }

    .offer.active .offer-header__box2{
        width: 104px;
    }

    .offer.active .offer-header__box3{
        width: 101px;
    }

    .offer.active .offer-header__box7{
        width: 53px;
    }

    .offer.active .offer-header__box10{
        width: 165px;
    }

    .offer.active .offer-header__box9{
        width: 68px;
    }

    .offer.active .actions {
        width: 165px;
    }
}