:root {
    --white-color: #fff;
    --black-color: #000;
    --button-bg: #616E46;
    --background: #D1D4CC;
    --font-evolventa: "Evolventa", sans-serif;
    --font-size-10: 10px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-35: 35px;
    --font-size-40: 40px;
    --font-size-50: 50px;
    --font-size-130: 130px;
}

body {
    font-family: var(--font-evolventa), Arial, Helvetica, sans-serif;
    font-style: normal;
    color: var(--black-color);
    font-weight: 400;
    font-size: var(--font-size-18);
    line-height: normal;
}

body.body-lock,
body.modal-open {
    overflow: hidden;
}

/* Button */
.button-style {
    border-radius: 3px;
    background: var(--button-bg);
    border: 1px solid transparent;
    color: var(--white-color);
    font-family: var(--font-evolventa);
    font-size: var(--font-size-20);
    transition: all 0.4s;
}

.button-style:hover {
    border: 1px solid var(--button-bg);
    color: var(--button-bg);
    background: transparent;
}

.button-style:active {
    background: var(--button-bg);
    border: 1px solid transparent;
    color: var(--white-color);
}

/* Heading */
.heading-primary {
    color: var(--white-color);
    text-align: center;
    font-size: var(--font-size-130);
    font-weight: 700;
}

.heading-secondary {
    font-size: var(--font-size-50);
    font-weight: 700;
    text-transform: uppercase;
}

.heading-tertiary {
    font-size: var(--font-size-30);
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.heading-quaternary {
    font-size: var(--font-size-25);
    font-weight: 700;
    line-height: 110%; 
}

.paragraph {
    font-size: var(--font-size-20);
    line-height: 110%; 
}